*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.header {
  padding: 18rem 10rem 0 10rem; }
  .header__content {
    position: relative;
    width: 66%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top: 2px solid #ed008c;
    border-bottom: 2px solid #ed008c; }
  .header__logo-box {
    padding: 8rem 0;
    border-bottom: 2px solid #ed008c;
    position: relative; }
  .header__logo {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .header__nav-box {
    text-align: center; }
  .header__nav-row {
    padding: 1.5rem 2rem; }
  .header__nav-item {
    padding: 2px 3rem 2px 0; }
    .header__nav-item:not(:last-child) {
      border-right: 0.5px solid #ed008c; }
  .header__nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 3rem) / 5); }

.carousel__content {
  text-align: center;
  position: relative; }
  .carousel__content:after {
    content: "";
    display: table;
    clear: both; }

.carousel__arrow {
  font-size: 5rem;
  line-height: 5rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .carousel__arrow--left {
    left: 0; }
  .carousel__arrow--right {
    right: 0; }

.carousel__gallery {
  display: inline-block;
  width: 80%; }

.carousel__img {
  width: 80%; }

.section-covers {
  padding: 0 10rem; }
