.carousel {
  &__content {
    @include clearfix;
    text-align: center;
    position: relative;
  }

  &__arrow {
    font-size: 5rem;
    line-height: 5rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
  }

  &__gallery {
    display: inline-block;
    width: 80%;
  }

  &__img {
    width: 80%;
  }
}